<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lh.cn.edu.henu.upto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UpTo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.NotificationJumpActivity"
            android:parentActivityName=".activity.MainActivity" />

        <receiver
            android:name=".receiver.MyBoardCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="lh.cb.edu.henu.upto.MyBoardCastReceiver1" />
                <action android:name="lh.cb.edu.henu.upto.MyBoardCastReceiver2" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.YourBoardCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="lh.cb.edu.henu.upto.YourBoardCastReceiver1" />
                <action android:name="lh.cb.edu.henu.upto.YourBoardCastReceiver2" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.AsyncTaskActivity" />

        <service
            android:name=".service.MyBindService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.Main2Activity" />

        <service
            android:name=".service.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.AidlActivity" />
        <activity android:name=".activity.RecyclerActivity" />
        <activity android:name=".net.NetActivity" />

        <receiver
            android:name=".receiver.NetConnectReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".recycler.RecyclerViewActivity" />

        <service
            android:name=".aidl.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="lh.cn.edu.upto.remote" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".aidl.ClientActivity" />

        <service
            android:name=".keepAlive.GrayService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".keepAlive.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".HandlerThread.HandlerThreadActivity" />
        <activity android:name=".viewFrame.ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>