<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lh.cn.edu.henu.upto">

    <application
        android:name=".UpTo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NotificationJumpActivity"
            android:parentActivityName=".activity.MainActivity" />

        <receiver
            android:name=".receiver.MyBoardCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="lh.cb.edu.henu.upto.MyBoardCastReceiver1" />
                <action android:name="lh.cb.edu.henu.upto.MyBoardCastReceiver2" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.YourBoardCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="lh.cb.edu.henu.upto.YourBoardCastReceiver1" />
                <action android:name="lh.cb.edu.henu.upto.YourBoardCastReceiver2" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.AsyncTaskActivity"/>
    </application>

</manifest>